<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Rubik:wght@300..900&family=Inter:wght@100..900&family=EB+Garamond:wght@400..800&family=Fira+Code:wght@300..700&family=Shadows+Into+Light&display=swap" rel="stylesheet">
</head>
<body>
  <main>
    <nav>
        <ul class="sidebar">
            <li class="logo-sidebar" style="display: flex; justify-content: space-between; width: 100%;">
                <a href="/">Sukhada Bhalerao</a> 
                <img class="close" src="/images/close.png" alt="X">
            </li>
            <li> <a class="sidebar-item" href="/#about-section">About</a></li>
            <li> <a class="sidebar-item" href="/#skill-section">Skill</a></li>
            <li> <a class="sidebar-item" href="/projects">Project</a></li>
            <li> <a class="sidebar-item" href="/contact">Contact</a></li>
        </ul>
        <ul class="navbar"style="padding-left:10px;padding-right:30px;">
            <li class="logo"> <a href="/">Sukhada Bhalerao</a></li>
            <li> <a class="navbar-item" href="/#about-section">About</a> </li>
            <li> <a class="navbar-item" href="/#skill-section">Skill</a></li>
            <li> <a class="navbar-item" href="/projects">Project</a></li>
            <li> <a class="navbar-item" href="/contact">Contact</a></li>
            <li> <img class="menu" src="/images/Sidebar.png" alt="Menu"> </li>
        </ul>
    </nav>






















































<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio</title>
    <link rel="stylesheet" href="./styles1.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="preconnect" \ href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
</head>
<body>
  <main>
    <nav>
        <ul class="sidebar">
            <li class="logo-sidebar"><a href="/">Sukhada Bhalerao</a> <img class="close" src="/images/close.png" alt=""></li>
            <li> <a class="sidebar-item" href="#about-section">About</a></li>
            <li> <a class="sidebar-item" href="#skill-section">Skill</a></li>
            <li> <a class="sidebar-item" href="/projects">Project</a></li>
            <li> <a class="sidebar-item" href="/contact">Contact</a></li>
        </ul>
        <ul class="navbar">
            <li class="logo"> <a href="/">Sukhada Bhalerao</a></li>
            <li> <a class="navbar-item" href="#about-section">About</a> </li>
            <li> <a class="navbar-item" href="#skill-section">Skill</a></li>
            <li> <a class="navbar-item" href="/projects">Project</a></li>
            <li> <a class="navbar-item" href="/contact">Contact</a></li>
            <li> <img class="menu" src="/images/Menu1.png" alt=""> </li>
        </ul>
    </nav>        -->