<div id="skill-section">
  <div class="skill-title">
    <h1 id="tag-skills"> <em>My Skills...</em></h1>
  </div>
  
  <div class="main-skill">
    <div class="skill-content">
       <p class="skill-info">
        I’m an aspiring developer with a strong interest in building innovative and efficient digital solutions. I have a solid foundation in C, C++, and Java. I enjoy creating interactive and responsive web interfaces using HTML, CSS, and JavaScript, and developing dynamic back-end applications with Node.js and Express.
       </p>
    </div>
    
    <div class="skill-logos">
      <img class="skill-icon" src="/images/C-new.png" alt="C">
      <img class="skill-icon" src="/images/cpp-new.png" alt="CPP">
      <img class="skill-icon" src="/images/java2.png" alt="Java">
      <img class="skill-icon" src="/images/html.png" alt="HTML">
      <img class="skill-icon" src="/images/css-3.png" alt="CSS">
      <img class="skill-icon" src="/images/java-script1.png" alt="JS">
      <img class="skill-icon" src="/images/express.png" alt="Express">
      <img class="skill-icon" src="/images/node-js-two.png" alt="Node">
    </div>
  </div>
</div>








































<!-- <div id="skill-section">
  <div class="skill-title">
    <h1 class="about-style deco1">&lt;h1&gt;</h1>
    <h1 id="tag-skills"> <em>My Skills...</em></h1>
    <h1 class="about-style deco2">&lt;/h1&gt;</h1>
  </div>
  <div class="main-skill">
    <div class="skill-content">
     <p class="para p1">&lt;p&gt;</p> <p class="skill-info">I’m an aspiring developer with a strong interest in building innovative and efficient
        digital solutions. I have
        a solid foundation in C, C++, and Java, which has helped me develop strong problem-solving and object-oriented
        programming skills. I enjoy creating interactive and responsive web interfaces using HTML, CSS, and JavaScript,
        and developing dynamic back-end applications with Node.js and Express. I also have a basic understanding of
        Python for scripting and automation tasks. Currently, I’m learning more about modern web development and
        database technologies to strengthen my full-stack development skills and grow as a well-rounded software
        professional.</p> <p class="para p2">&lt;/p&gt;</p>
    </div>
    <div class="skill-logos">
      <img class="img" id="skill1" src="/images/C-new.png" alt="">
      <img class="img" id="skill2" src="/images/cpp-new.png" alt="">
      <img class="img" id="skill3" src="/images/java2.png" alt="">
      <img class="img" id="skill4" src="/images/html.png" alt="">
      <img class="img" id="skill5" src="/images/css-3.png" alt="">
      <img class="img" id="skill6" src="/images/java-script1.png" alt="">
      <img class="img" id="skill7" src="/images/express.png" alt="">
      <img class="img" id="skill8" src="/images/node-js-two.png" alt="">
    </div>
  </div>
  <div class="c3">
            <p class="design t10"> <i> <em></em> &lt;/body&gt; </i></p>
            <div class="design t11"></div>
            <div class="design t12"></div>
        </div>
</div> -->
<!-- external -->
<!-- </div> -->