<%- include("partials/header.ejs") %>

<div class="outer">
    <div class="hero-wrapper">
        <div class="leftdiv">
            <h3>Hello Everyone, I am <br> 
                <span id="name">Sukhada Bhalerao,</span><br>
                an <span id="element"></span>
            </h3>
            <h6>Curious and excited to explore new technologies and how they are implemented in the real world, whereas eager to gain hands-on experience in the tech-industry.</h6>
            
            <div class="hero-buttons">
                <form action="/download" method="POST" target="_blank">
                    <button type="submit" id="button1">Download Resume</button>
                </form>
                <button type="button" id="button2">Hire Me</button>
            </div>
        </div>
        
        <div class="rightdiv">
            <img src="images/dev.png" alt="developer-image">
        </div>
    </div>
</div>

<%- include("partials/about.ejs") %>
<%- include("partials/skills.ejs") %>
<%- include("partials/footer.ejs") %>









    <!-- <di class="outer">
        <div class="main">
            <div class="leftdiv">
                <h3>Hello Everyone, I am <br> <span id="name">Sukhada Bhalerao,</span><br>an <span id="element"></span>
                    <br>
                </h3>
                <h6>Curious and excited to explore new technologies and how they are implemented in the real world ,
                    whereas
                    eager to gain hands-on experience in the tech-industry.</h6>
                <form action="/download" method="POST" target="_blank">
                    <button type="submit" id="button1" class="btn btn-outline-light">Download Resume</button>
                </form>
                <button type="button" id="button2" class="btn btn-light">Hire Me</button>

            </div>
            <div class="rightdiv">
                <img src="images/dev.png" alt="developer-image">
            </div>
        </div> -->